<h1> New Request </h1>

<form action="/" method="POST">
    <input type="text" name="height" placeholder="Layer_height in mm">
    <input type="text" name="infill" placeholder="Infill in percentage">
    <button>Submit!!</button>
</form> 